<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <system.web.extensions>
    
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicioUsuarioPortBinding" />
        <binding name="ServicioRegionPortBinding" />
        <binding name="ServicioClientePortBinding" />
        <binding name="ServicioCheckInPortBinding" />
        <binding name="ServicioLoginPortBinding" />
        <binding name="ServicioReservaPortBinding" />
        <binding name="ServicioCheckOutPortBinding" />
        <binding name="ServicioReservaPortBinding1" />
        <binding name="ServicioCalculoPagoPortBinding" />
        <binding name="ServicioAcompaniantePortBinding" />
        <binding name="ServicioReportePortBinding" />
        <binding name="ServicioTransportePortBinding" />
        <binding name="ServicioTurismoPortBinding" />
        <binding name="ServicioServicioTurismoPortBinding" />
        <binding name="ServicioDepartamentoPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioUsuario"
        binding="basicHttpBinding" bindingConfiguration="ServicioUsuarioPortBinding"
        contract="ServicioUsuario.ServicioUsuario" name="ServicioUsuarioPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioRegion"
        binding="basicHttpBinding" bindingConfiguration="ServicioRegionPortBinding"
        contract="ServicioRegion.ServicioRegion" name="ServicioRegionPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioCliente"
        binding="basicHttpBinding" bindingConfiguration="ServicioClientePortBinding"
        contract="ServicioCliente.ServicioCliente" name="ServicioClientePort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioCheckIn"
        binding="basicHttpBinding" bindingConfiguration="ServicioCheckInPortBinding"
        contract="ServicioCheckIn.ServicioCheckIn" name="ServicioCheckInPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioLogin"
        binding="basicHttpBinding" bindingConfiguration="ServicioLoginPortBinding"
        contract="ServicioLogin.ServicioLogin" name="ServicioLoginPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioReserva"
        binding="basicHttpBinding" bindingConfiguration="ServicioReservaPortBinding"
        contract="ServicioReservaLista.ServicioReserva" name="ServicioReservaPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioCheckOut"
        binding="basicHttpBinding" bindingConfiguration="ServicioCheckOutPortBinding"
        contract="ServicioCheckOut.ServicioCheckOut" name="ServicioCheckOutPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioReserva"
        binding="basicHttpBinding" bindingConfiguration="ServicioReservaPortBinding1"
        contract="ServicioReserva.ServicioReserva" name="ServicioReservaPort1" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioCalculoPago"
        binding="basicHttpBinding" bindingConfiguration="ServicioCalculoPagoPortBinding"
        contract="ServicioCalculo.ServicioCalculoPago" name="ServicioCalculoPagoPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioAcompaniante"
        binding="basicHttpBinding" bindingConfiguration="ServicioAcompaniantePortBinding"
        contract="ServicioAcompaniante.ServicioAcompaniante" name="ServicioAcompaniantePort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioReporte"
        binding="basicHttpBinding" bindingConfiguration="ServicioReportePortBinding"
        contract="ServicioReporte.ServicioReporte" name="ServicioReportePort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioTransporte"
        binding="basicHttpBinding" bindingConfiguration="ServicioTransportePortBinding"
        contract="ServicioTransporte.ServicioTransporte" name="ServicioTransportePort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioTurismo"
        binding="basicHttpBinding" bindingConfiguration="ServicioTurismoPortBinding"
        contract="ServicioTurismo.ServicioTurismo" name="ServicioTurismoPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioServicioTurismo"
        binding="basicHttpBinding" bindingConfiguration="ServicioServicioTurismoPortBinding"
        contract="ServicioServicioTurismo.ServicioServicioTurismo" name="ServicioServicioTurismoPort" />
      <endpoint address="http://localhost:13526/WebServiceArriendoTemporada/ServicioDepartamento"
        binding="basicHttpBinding" bindingConfiguration="ServicioDepartamentoPortBinding"
        contract="ServicioDepto.ServicioDepartamento" name="ServicioDepartamentoPort" />


    </client>
    
    
  </system.serviceModel>
</configuration>
